
.recipe {
    display: flex;
    flex-direction: row;
    text-align: start;
    
    table {
        width: 20vw;
        border-spacing: 0;
        table-layout: fixed;

        td:nth-child(1) {
            width: 20%;
        }
        td:nth-child(2) {
            width: 80%;
        }
        td {
            padding-top: 0;
            text-align: start;
            padding-right: 1rem;
            font-size: 1.3rem;
            border: none;
        }
    }
    
    h3 {
        font-size: 1.5rem;
    }

    .procedure {
        font-size: 1.5rem;

    }
}