.one-task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2a3036;
    width: 500px;
    margin: 10px auto;
    border-radius: 0.9rem;
    overflow: hidden;
}

.one-task h4 {
    padding-left: 20px;
}

button {
    background-color: #3480c3;
    color: #345a42;
    border: none;
    cursor: pointer;
    font-weight: 800;
    border-radius: 0.9rem;
    padding: 0.8em 1.5em;
}

.one-task button {
    margin: 15px;
}

.main-button {
    display: block;
    margin: 30px auto;
}