.app-form {
    margin: 0;
    padding: 20px;
    background-color: #141414;
    color: #e5e5e5;
   
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30vh;
    }
    
    .user-name {
        margin-bottom: 10px;
        outline: none;
    }
    
    input[type="submit"] {
        background-color: #e50914;
        color: #e5e5e5;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
    }
    
    .item {
        text-align: center;
        box-shadow: 0 0 10px #e50914;
        width: 300px;
        margin: 10px auto;
    }
}
