.app-recipes {
    padding: 1rem;

    .navigation {
        display: flex;
        flex-direction: row;

        .app-recipe-link {
            margin: 0.4em 1em;
            padding: 0.4em 1em;
            background-color: #4f5858;
            color: #34fdfd;
            border-radius: 1em;
            text-align: left;
            word-wrap: normal;
            font-weight: 700;

            &:hover {
              background-color: #f79a10;
              color: rgb(11, 19, 56);
            }
        }

        .active {
            background-color: #f79a10;
            color: rgb(11, 19, 56);
          }
    }
}