.aside {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 300px ;

  h2,
  h3 {
    margin: 0;
    padding-left: 0.5rem;
    text-align: start;
  }

  .project-link {
    margin: 0.4em 1em;
    padding: 0.4em 1em;
    background-color: #24e5e2;
    border-radius: 1em;
    text-align: left;
    word-wrap: normal;
    font-weight: 700;
  }

  .project-link:hover,
  .active {
    background-color: #0f7372;
  }

  .david-setek,
  .reacti {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .hide {
    display: none;
  }
}
