@import './utilities/variables.scss';

.app-battle-ship {
    h3, h5 {
        margin: 0;
        padding: 0;
    }

    .play-ground {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 2em 0;

        .rows {
            margin-left: 2em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 5px solid $color-playground-border;
            box-shadow: 0px 0px 30px 4px $color-shadow;

             .row {
                display: flex;
                flex-direction: row;

                .cell {
                    width: 30px;
                    height: 30px;
                    background-color: $color-cell-background;
                    border: 1px solid $color-cell-border;

                    &::before {
                        content: '';
                    }

                    &:hover {
                        background-color: $color-cell-hover;
                    }
                }

                .show {
                    background-color: $color-ship;
                }
             }
        }

        .side {
            width: 15vw;
            margin: 0 2em ;
            box-shadow: 0px 0px 30px 4px $color-shadow;
            border: 1px solid $color-side-border;

            .h3 {
                margin-bottom: 3em;
            }

            .ships {
                text-align: center;
                margin-top: 1em;

                .ship-parts {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    .ship-part {
                        width: 10px;
                        height: 10px;
                        background-color: $color-ship;
                        border: 1px solid $color-cell-border;
                        margin-bottom: 1em;
                    }
                }
            }
        }
    }
}